{% extends 'main.html' %}

{% block content %}

  <main class="layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include 'base/topics_component.html' %}
      
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="mobile-menu">
          <form action="{% url 'home' %}" method="GET" class="header__search">
            <label>
                <i class="material-icons">search</i>
              <input name="q" placeholder="Search for posts" />
            </label>
          </form>
          <div class="mobile-menuItems">
            <a class="btn btn--main btn--pill" href="{% url 'topics' %}">Browse Topics</a>
            <a class="btn btn--main btn--pill" href="{% url 'activity' %}">Recent Activities</a>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Study Room</h2>
            <p>{{room_count}} Rooms available</p>
          </div>

          <div class="roomList_options">
            <a class="btn btn--main" href="{% url 'create-room' %}">
                <i class="material-icons">add</i>
              Create Room
            </a>

            <a class="btn btn--main" href="{% url 'create-model' %}">
              <i class="material-icons">add</i>
              Create Model
            </a>
        </div>
        </div>

        {% include 'base/feed_component.html' %}
        
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'base/activity_component.html' %}

      <!-- Activities End -->
    </div>
  </main>
{% endblock %}