{% extends 'main.html' %}

{% block content %}

<main class="create-room layout">
<div class="container">
    <div class="layout__box">
        <div class="layout__boxHeader">
            <div class="layout__boxTitle">
            <a href="{% url 'home' %}">
                <i class="material-icons">arrow_back</i>
            </a>
            <h3>Create Model</h3>
            </div>
        </div>
        <div class="layout__body">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div id="return_select_option">
                    <a class="btn btn--dark" id="button_type_model">Select Data Origin</a>
                </div>
                
                <div class="layout__body__model" action="" method="" id="content_buttons_model">
                    
                    <a class="btn btn--main" id="button_model_file">
                        <i class="material-icons">add</i>
                        Update File
                    </a>
                    <a class="btn btn--main" id="button_model_wb">
                        <i class="material-icons">add</i>
                        World Bank Data Base
                    </a>
                </div>

                <div class="layout__body__model" id="type__model">
                        <a class="btn btn--main" id="button_transversal_model">Transversal Model</a>
                        <a class="btn btn--main" id="button_temporal_model">Temporal Model </a>
                </div>

                <div class="form__model" action="" method="" id="model_file">


                    <div class="form__group">
                        Update file:
                        <input type="file" name="" clas="file_csv">
                    </div>

                </div>

                <div id="model_wb_trans">
                        {% csrf_token %}

                        <div class="form__group">
                            <label for='lang'>Model Name</label>
                            <input  type="text" value="Transversal Model X" name="trans_name" />
                        </div>

                        <div class="form__group">
                            <label for='lang'>Select Year</label>
                            <input  type="number" min="1900" max="2023" step="1" value="1900" name="year_t" />
                        </div>

                        <div class="form__group " id="input_country">
                            <label for='lang'>Select Countries</label>
                            <select class="select2-multiple" name='country_trans' multiple="multiple" >
                                {% for cont in country %}
                                <option value='{{cont.country_id}}'>{{cont.name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form__group" id="input_var">
                            <label for='lang'>Select Variables</label>
                            <select class="select2-multiple" name='var_trans' multiple="multiple" >
                                {% for var in variable %}
                                <option value='{{var.var_id}}'>{{var.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                </div>

                <div id="model_wb_tem">
                        {% csrf_token %}

                        <div class="form__group">
                            <label for='lang'>Model Name</label>
                            <input  type="text" value="Temporal Model X" name="tem_name" />
                        </div>

                        <div class="form__group" id="input_country">
                            <label for='lang'>Select Countries</label>
                            <select id="select-country" name='country_tem' >
                                <option value=""></option>
                                {% for cont in country %}
                                <option value='{{cont.country_id}}'>{{cont.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form__group">
                            <label for='lang'>Select Initial Year</label>
                            <input  type="number" min="1900" max="2023" step="1" value="2000" name="initial_year" />

                            <label for='lang'>Select Final Year</label>
                            <input  type="number" min="1900" max="2023" step="1" value="2018" name="final_year" />
                        </div>

                        <div class="form__group" id="input_var_tem">
                            <label for='lang'>Select Variables</label>
                            <select id="select-var" name='var_tem' multiple="multiple" >
                                {% for var in variable %}
                                <option value='{{var.var_id}}'>{{var.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                </div>
        
                <div class="form__action" id="submit_content">
                    <a class="btn btn--dark" href="index.html">Cancel</a>
                    <button class="btn btn--main" type="submit">Submit</button>
                </div>
                    
                {% include "base/script_js.html" %}

            </div>
        </form>
    </div>
</div>
</main>

{% endblock content %}

